.presentacion{
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.player{
    background-color: green;
    width: 20%;
}
.avatar{
    width: 150px;
    width: 150px;
}
.descripciones{
    text-decoration: underline;
}
.playerbox{
    background-color: black;
    width: 100px;
}
[data-id="4"]{
    img{
        transform: rotate(420deg);
    }
}