body {
  background-color: maroon; }

.controles {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .controles button {
    width: 20%; }
